/* style.css */
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300,700,500,400italic,500italic,700italic,300italic);
body {
	font-family: 'Fira Sans', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #F5F5F5;
}
#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
main {
	flex: 1;
	padding: 1em;
    display: flex;
    align-items: center; /* Centers vertically */
    height: 300vh; /* Full viewport height, adjust as needed */
}
#content {
	position: relative;
    width: 1250;
	max-width: 1250px;
	margin: 0 auto;
	background-color: #F4F4F6;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#content h2 {
	color: #1B1127;
}

#search-input {
	transition: opacity 0.5s ease-in-out;
}

#search-input.placeholder-changing {
	opacity: 0.7;
}

form label {
	display: block;
	margin-bottom: 8px;
}
form input,
form textarea {
	width: 87.5%;
	padding: 8px;
	margin-bottom: 16px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
}
form button {
	background-color: #4caf50;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: 
background-color 0.3s ease;
}
form button:hover {
	background-color: #45a049;
}

#side-content {
	position: relative;
	display: none;
	max-width: 1200px;
	min-width: 600px;
	max-height: 800px;
	margin: 0 auto;
	background-color: #F4F4F6;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	transition-duration: 4s;
  	transition-delay: 2s;
	overflow-y: scroll ;
}

#side-content::-webkit-scrollbar {
  display: none;
}

.project{
	width: 570px;
	margin: 10px;
	background-color: #B9BCCB;
	color: #1B1127;
	padding: 10px;
	border-radius: 4px;
	box-shadow: 0 0 10px rgba(150, 102, 102, 0.1);
}


li {
    display: inline-block;
    background-color: #64549C;
	color: #f0f0f0;
	font-size: 12px;
    border-radius: 6px;
    padding: 4px 10px;
    margin-right: 4px;
    margin-bottom: 4px;
}

.btn {
	background-color: #F73028;
	color: #1B1127;
}

.btn:hover {
	background-color: #88CCEC;
}

@media(max-width: 1000px) {
    #content {
        position: relative;
		max-width: 550px;
		margin: 0 auto;
		background-color: #F4F4F6;
		padding: 10px;
		border-radius: 4px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
	#side-content {
		position: relative;
		display: none;
		max-width: 550px;
		margin: 0 auto;
		background-color: #F4F4F6;
		padding: 10px;
		border-radius: 4px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		transition-duration: 4s;
		transition-delay: 2s;
		overflow-y: scroll ;
	}
	.project{
		width: 520px;
		margin: 10px;
		background-color: #B9BCCB;
		color: #1B1127;
		padding: 10px;
		border-radius: 4px;
		box-shadow: 0 0 10px rgba(150, 102, 102, 0.1);
	}
}
@media(max-width: 750px) {
    .Key, .subtitle {
        font-size: 0.8rem;
    }

    .inner {
        height: 70%;
    }
}
@media(max-width: 720px) {
    .Key, .subtitle {
        font-size: 0.6rem;
    }

}