/* style.css */
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300,700,500,400italic,500italic,700italic,300italic);
body {
	font-family: '', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #F5F5F5;
}
#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
  background-attachment: fixed;
}
main {
	flex: 1;
	padding: 1em;
    display: flex;
    align-items: center; /* Centers vertically */
    height: 300vh; /* Full viewport height, adjust as needed */
}
#content {
	position: relative;
	max-width: 1250px;
  	min-width: 500px;
	margin: 10px auto;
	background-color:  #F4F4F6;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#content h2 {
	color: #1B1127;
}

#search-input {
	transition: opacity 0.5s ease-in-out;
}

#search-input.placeholder-changing {
	opacity: 0.7;
}

form button:hover {
	background-color: #45a049;
}

#side-content {
	position: relative;
	display: none;
	max-width: 1000px;
	max-height: 800px;
	margin: 10px auto;
	background-color: #F4F4F6;
	display: inline-block;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	transition-duration: 4s;
  	transition-delay: 1s;
	overflow-y: scroll ;
}

#side-content::-webkit-scrollbar {
  display: none;
}

.project{
  	position: relative;
	max-width: 47.5%;
	margin: 10px auto;
	background-color: #ffdc91;
	color: #1B1127;
	padding: 10px;
	border: 0.9rem;
	border-radius: 4px;
	box-shadow: 0 0 10px rgba(150, 102, 102, 0.1);
	/* transition: transform 0.8s;
  	transform-style: preserve-3d; */
}

/* .card-header, .card-body {
	-webkit-backface-visibility: hidden; /* Safari */
  	/*backface-visibility: hidden;
} */

/* .project-flipped {
	transform: rotateY(180deg);
} */

li {
    display: inline-block;
    background-color: #ffb5f9ff;
    /* color: #f0f0f0; */
    font-size: 12px;
    border-radius: 6px;
    padding: 4px 10px;
    margin-right: 4px;
    margin-bottom: 4px;
}

button {
	margin: 10px;
}

.btn-project {
	background-color: #ffdc91;
	color: #1B1127;
}

.btn-project:hover {
	background-color: #9138e5;
	color:  #F4F4F6
}

.topnav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
	padding: 10px 10px;
}

#footer-note {
    position: fixed;
	font: 0.6em 'Fira Sans';
    bottom: 1rem;
    z-index: 1000;
	color: #ffdc91;
	padding: 5px;
	box-shadow: 0 0 10px rgba(150, 102, 102, 0.1);
	border-radius: 4px;
}

.loader {
  border: 6px solid #ffdc91; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height:30px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.toggle-switch {
  position: relative;
  width: 100px;
  height: 50px;
  --light: #d8dbe0;
  --dark: #9138e5;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}

.switch-label {
  position: absolute;
  width: 100%;
  height: 40px;
  background-color: var(--light);
  border-radius: 20px;
  cursor: pointer;
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.checkbox:checked ~ .slider {
  background-color: var(--dark);
}

.slider::before {
  content: "";
  position: absolute;
  top: 7.5px;
  left: 7.5px;
  width: 20px;
	-webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
  background-color: var(--light);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.checkbox:checked ~ .slider::before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.toggle-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  font-weight: bold;
  color: var(--light);
  transition: opacity 0.3s;
  pointer-events: none;
  z-index: 1000;
  color:  var(--dark);
}

.toggle-text-off {
  left: 15px;
  opacity: 1;
}

.toggle-text-on {
  right: 15px;
  opacity: 0;
}

.checkbox:checked ~ .toggle-text-off {
  opacity: 0;
}

.checkbox:checked ~ .toggle-text-on {
  opacity: 1;
  color:  var(--light);
}

@media(max-width: 1300px) {
    #content {
      position: relative;
      max-width: 450px;
	  margin: 10px auto;
      background-color: #F4F4F6;
      padding: 10px;
      border-radius: 4px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
	#side-content {
		position: relative;
		display: none;
		max-width: 550px;
    	max-height: 800px;
		margin: 10px auto;
		background-color: #F4F4F6;
		padding: 10px;
		border-radius: 4px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		transition-duration: 4s;
		transition-delay: 2s;
		overflow-y: scroll ;
		grid-template-columns: 1fr;
	}
	#inner-side-content {
		grid-template-columns: 1fr;
	}
	.project{
		width: 547px;
		margin: 10px auto;
		background-color: #ffdc91;
		color: #1B1127;
		padding: 10px;
		border-radius: 4px;
		box-shadow: 0 0 10px rgba(150, 102, 102, 0.1);
	}
}

@media(max-width: 1000px) {
    #content {
      position: relative;
      max-width: 450px;
	  margin: 10px auto;
      background-color: #F4F4F6;
      padding: 10px;
      border-radius: 4px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
	#side-content {
		position: relative;
		display: none;
		max-width: 550px;
    	max-height: 800px;
		margin: 0 auto;
		background-color: #F4F4F6;
		padding: 10px;
		border-radius: 4px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		transition-duration: 4s;
		transition-delay: 2s;
		overflow-y: scroll ;
	}
	.project{
		width: 520px;
		margin: 10px auto;
		background-color: #ffdc91;
		color: #1B1127;
		padding: 10px;
		border-radius: 4px;
		box-shadow: 0 0 10px rgba(150, 102, 102, 0.1);
	}
}

@media(max-width: 750px) {
    #content {
      position: relative;
      max-width: 450px;
	  margin: 10px auto;
      background-color: #F4F4F6;
      padding: 10px;
      border-radius: 4px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
	#side-content {
		position: relative;
		display: none;
		max-width: 550px;
    max-height: 800px;
		margin: 0 auto;
		background-color: #F4F4F6;
		padding: 10px;
		border-radius: 4px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		transition-duration: 4s;
		transition-delay: 2s;
		overflow-y: scroll ;
	}
	.project{
		width: 520px;
		margin: 10px auto;
		background-color: #ffdc91;
		color: #1B1127;
		padding: 10px;
		border-radius: 4px;
		box-shadow: 0 0 10px rgba(150, 102, 102, 0.1);
	}
}

@media(max-width: 720px) {
    #content {
      position: relative;
      max-width: 450px;
	  margin: 10px auto;
      background-color: #F4F4F6;
      padding: 10px;
      border-radius: 4px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
	#side-content {
		position: relative;
		display: none;
		max-width: 550px;
    	max-height: 800px;
		margin: 0 auto;
		background-color: #F4F4F6;
		padding: 10px;
		border-radius: 4px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		transition-duration: 4s;
		transition-delay: 2s;
		overflow-y: scroll ;
	}
	.project{
		width: 520px;
		margin: 10px auto;
		background-color: #ffdc91;
		color: #1B1127;
		padding: 10px;
		border-radius: 4px;
		box-shadow: 0 0 10px rgba(150, 102, 102, 0.1);
	}

}

@media(max-width: 500px) {
    #content {
      position: relative;
      max-width: 450px;
	  margin: 10px auto;
      background-color: #F4F4F6;
      padding: 10px;
      border-radius: 4px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
	#side-content {
		position: relative;
		display: none;
		max-width: 550px;
    max-height: 800px;
		margin: 0 auto;
		background-color: #F4F4F6;
		padding: 10px;
		border-radius: 4px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		transition-duration: 4s;
		transition-delay: 2s;
		overflow-y: scroll ;
	}
	.project{
		width: 520px;
		margin: 10px auto;
		background-color: #ffdc91;
		color: #1B1127;
		padding: 10px;
		border-radius: 4px;
		box-shadow: 0 0 10px rgba(150, 102, 102, 0.1);
	}
}