/* style.css */
body {
	font-family:
'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
}
#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
main {
	flex: 1;
	padding: 1em;
    display: flex;
    align-items: center; /* Centers vertically */
    height: 300vh; /* Full viewport height, adjust as needed */
}
#content {
    width: 1250;
	max-width: 1250px;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow:
0 0 10px rgba(0, 0, 0, 0.1);
}
#content h2 {
	color: #2f8d46;
}

#search-input {
	transition: opacity 0.5s ease-in-out;
}

#search-input.placeholder-changing {
	opacity: 0.7;
}

form label {
	display: block;
	margin-bottom: 8px;
}
form input,
form textarea {
	width: 87.5%;
	padding: 8px;
	margin-bottom: 16px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
}
form button {
	background-color: #4caf50;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: 
background-color 0.3s ease;
}
form button:hover {
	background-color: #45a049;
}

#side-content {
	display: none;
    width: 1000;
	max-width: 1000px;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	transition-duration: 4s;
  	transition-delay: 2s;
	
}

#project1 {
	max-width: 900px;
	margin: 5px;
	background-color: #6756db;
	padding: 10px;
	border-radius: 4px;
	box-shadow: 0 0 10px rgba(150, 102, 102, 0.1);
}